@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css?family=Arsenal:400,700'); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');

/* applicable to all screen sizes */
body {
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'PT Serif', serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 400;
  color: #414145;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.red {
  color: #bd2a3b;
}
.bold {
  font-weight: 800;
}
.more {
  color: green;
}
.dribbble{
  color: #FC1A72;
  font-weight: 400;
  /* font-style: italic; */
  /* text-decoration: underline; */
}
.medium{
  color: #9C9999;
  font-weight: 400;
  /* font-style: italic; */
  /* text-decoration: underline; */
}
.linkedin{
  color: #0077b5;
  font-weight: 400;
  /* font-style: italic; */
  /* text-decoration: underline; */
}
.resume{
  color: #bd2a3b;
  font-weight: 400;
}
.underline {
  text-decoration: underline;
}
.button {
  position: relative;
  left: 50%;
  transform: translateX(-50%); 
  display: inline-block;
  border-radius: 0px;
  background-color: #fff;
  border: 1px solid #414145;
  color: #414145;
  text-align: center;
  font-size: 14px;
  padding: 18px;
  width: 350px;
  transition: all 0.5s;
  cursor: pointer;

  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}

.button:hover {
 position: relative;
  left: 50%;
  transform: translateX(-50%); 
  display: inline-block;
  border-radius: 0px;
  background-color: #414145;
  border: 1px solid #414145;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 18px;
  width: 350px;
  transition: all 0.5s;
  cursor: pointer;
 font-family: "Montserrat", sans-serif;
}

/* common header */
.jump {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
.jump:focus, .jump:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:10px;
    border-radius: 15px;
    border:4px solid #000;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.logo {
  order: -1;
}


/* common intro */
.intro {
  background-color: #fff;
}

.intro-contents {
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
  }

.intro-sub {
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
    color: #bd2a3b;
  }

/* portfolio main cards */
.main {
  overflow: hidden;
}
.card {
  float: left;
  width: 50%;
  font-weight: 500;
}
.card a,
.card img {
  display: block;
}
.card a {
  position: relative;
  display: block;
}
.card a::after {
  transition: all 800ms;
  background: transparent;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1 a:hover::after {
  background: rgba(0, 0, 0, 0.6);
  content: "Uber Eats Product Design Internship";
  padding: 50px;
}
.card2 a:hover::after {
  background: rgba(0, 0, 0, 0.6);
  content: "Linkedin Design Exercise";
  padding: 50px;
}
.card3 a:hover::after {
  background: rgba(0, 0, 0, 0.6);
  content: "Linkedin Design Exercise";
  padding: 50px;
}
.card4 a:hover::after {
  background: rgba(0, 0, 0, 0.6);
  content: "Route Creator UX/UI Design";
  padding: 50px;
}
.card5 a:hover::after {
  background: rgba(0, 0, 0, 0.6);
  content: "Samsung Global Audio UX Consulting";
  padding: 50px;
}
.card6 a:hover::after {
  background: rgba(0, 0, 0, 0.6);
  content: "iTrack UX/Web Re-design";
  padding: 50px;
}

.card img {
  width: 100%;
}

/* footer */
.footer {
  background: #414145;
  padding: 30px;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.copyright {
  display: block;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* Style all font awesome icons */
.fa {
  margin: 22px;
  font-size: 200px;
  width: 1px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-bottom: 1px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.6;
}

/* Set a specific color for each brand */

/* Dribbble */
.fa-dribbble {
  background: #414145;
  /* background: #C42261; */
  color: white;
}

/* LinkedIn */
.fa-linkedin {
  background: #414145;
  /* background: #0077b5; */
  color: white;
}
/* Medium */
.fa-medium {
  background: #414145;
  color: white;
}
/* Google */
.fa-google {
  background: #414145;
  color: white;
}
.green {
  color: green;
}

/* responsive screen: mobile */
@media screen and (max-width: 600px) {
.header {
    padding: 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 3px 3px 0 rgba(190, 190, 190, 0.01);
  }

.nav-menu {
  display: inline-block;
  color: #414145;
  margin-top: 10px;
  line-height: 21px;
}
.nav-menu a{
  text-decoration: none;
  color: #414145;
}
.nav-menu a:hover {
  color: #bd2a3b;
}
.nav-home {
  color: #414145;
  letter-spacing: 0.3px;
  margin-right: 30px;
  font-weight: 800;
  text-decoration: underline;
}
.nav-work {
  color: #414145;
  letter-spacing: 0.3px;
  margin-right: 30px;
}
.nav-blog {
  color: #414145;
  letter-spacing: 0.3px;
  margin-right: 30px;
}

.logoimg {
  width: 170px;
}

  .intro {
    padding: 30px;
  }
  .intro-contents {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }

  .main {
    padding-top: 20px;
    overflow: hidden;
  }
  .card a::after {
    font-size: 16px;
  }
  
  .card {
    font-size: 16px;

  }
  .card1 {
    width: 100%;
  }
  .card2 {
    width: 100%;
  }
  .card3 {
    width: 100%;
  }
  .card4 {
    width: 100%;
    float: right;
  }
  .card5 {
    width: 100%;
  }
  .card6 {
    width: 100%;
  }
  
  .footer {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    margin-top: 50px;
  }
  .copyright {
    width: 100%;
    font-size: 12px; 
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
  }
.fa {
  margin: 20px;
}
}
/* responsive screen: tablet */
@media (min-width: 601px) and (max-width: 999px) {
.header {
    padding: 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 3px 3px 0 rgba(190, 190, 190, 0.01);
  }

.nav-menu {
  display: inline-block;
  color: #414145;
  margin-top: 10px;
  line-height: 21px;
}
.nav-menu a{
  text-decoration: none;
  color: #414145;
}
.nav-menu a:hover {
  color: #bd2a3b;
}
.nav-home {
  color: #414145;
  letter-spacing: 0.3px;
  margin-right: 30px;
  font-weight: 800;
  text-decoration: underline;
}
.nav-work {
  color: #414145;
  letter-spacing: 0.3px;
  margin-right: 30px;
}
.nav-blog {
  color: #414145;
  letter-spacing: 0.3px;
  margin-right: 30px;
}

.logoimg {
  width: 180px;
}

  .intro {
    padding: 30px 100px 0 100px;
  }
  .intro-contents {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
  }

  .main {
    padding-top: 120px;
    overflow: hidden;
  }
  .card a::after {
    font-size: 22px;
  }
  
  .card {
    font-size: 22px;

  }
  .card1 {
    width: 100%;
  }
  .card2 {
    width: 100%;
  }
  .card3 {
    width: 100%;
  }
  .card4 {
    width: 100%;
    float: right;
  }
  .card5 {
    width: 100%;
  }
  .card6 {
    width: 100%;
  }
  
  .footer {
    font-size: 23px;
    font-weight: 200;
    text-align: center;
    margin-top: 100px;
  }
  .copyright {
    width: 100%;
    font-size: 15px; 
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
  }
.fa {
  margin: 20px;
}
}

/* responsive screen: desktop */
@media screen and (min-width: 1000px) {
.header {
    padding: 45px 80px 15px 80px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 3px 3px 0 rgba(190, 190, 190, 0.01);
    
  }
.nav-menu {
  display: flex;
  color: #414145;
  margin-top: 12px;
}
.nav-menu a{
  text-decoration: none;
  color: #414145;
}
.nav-menu a:hover {
  color: #bd2a3b;
}
.nav-home {
  color: #414145;
  letter-spacing: 0.3px;
  margin-right: 30px;
  font-weight: 800;
  text-decoration: underline;
}
.nav-work {
  color: #414145;
  letter-spacing: 0.3px;
  margin-right: 30px;
}
.nav-blog {
  color: #414145;
  letter-spacing: 0.3px;
  margin-right: 30px;
}

.logoimg {
  width: 195px;
}

  .intro {
    padding: 30px 100px 0 100px;
  }
  .intro-contents {
    font-size: 20px;
    font-weight: 400;
    line-height: 37px;
    text-align: center;
  }

  .main {
    padding-top: 120px;
    overflow: hidden;
  }
  .card a::after {
    font-size: 20px;
  }
  
  .card {
    font-size: 20px;

  }
  .card1 {
    width: 50%;
  }
  .card2 {
    width: 50%;
  }
  .card3 {
    width: 50%;
  }
  .card4 {
    width: 50%;
    float: right;
  }
  .card5 {
    width: 50%;
  }
  .card6 {
    width: 50%;
  }
  
  .footer {
    font-size: 23px;
    font-weight: 200;
    text-align: center;
    margin-top: 100px;
  }
  .copyright {
    width: 100%;
    font-size: 15px; 
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
  }
.fa {
  margin: 20px;
}
}
